    <!-- 側邊欄縮小按鈕 -->
    <div id="sidebar-btn">☰</div>
    <!-- 側邊欄 -->
    <div id="sidebar">
        <h2>功能選單</h2>
        <a href="/homepage" id="home">🏠 主頁</a>  
        <a href="/history" id="history">📜 歷史資料</a>
        <a href="/diet" id="diet">🍱 飲食紀錄</a>
        <a href="/home_monitor" id="home-monitor">🛋️ 居家追蹤</a>
        <a href="/theme" id="theme-link">🎨 主題顏色</a>
        <a href="/settings" id="settings">⚙️ 設定</a>
        {% if session['username'] == 'admin' %}
        <a href="{{ url_for('admin_tools') }}" id="admin-tools">⚒ 管理工具</a>
        {% endif %}
        <a href="#" id="logout">🚪 登出</a>
    </div>
    <script>
        document.getElementById('logout').addEventListener('click', function (e) {
            e.preventDefault(); // 防止預設跳轉
            fetch('/logout').then(() => {
                sessionStorage.clear();
                window.location.href = '/';
            });
        });
        </script>
        